body {
    background: url("../img/1610816378_25-p-neitralnii-sinii-fon-38.jpg");
    font-family:cursive;
    
}

h1 {
    font-size: 50px;
    color: #311590;
    font-family: 'Fruktur', cursive; text-align: center}

p{ 
    text-align: center; font-size: 32px }


ul{
    font-size: 100%}

*{
    background-color:lightskyblue;}

img {
	margin-left: -15px;
}

#movie-list {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#movie-list li {
	width: fit-content;
}

#movie-list li a {
	display: flex;
	flex-direction: column;

}

#movie-list li img {
	margin: 0 !important;
}
.mood{
	display: flex;
  align-items: stretch;
  justify-content: center;
}

.facts {
	margin-top: -20%;
	margin-top: -60%;
}